<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/check-in-out.css' %}" />

   
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
    />
  </head>

  <body>
    <div class="header">
     <a href="/"> <h2 class="hostel-title">CV RAMAN</h2></a>
    </div>

    <div class="container">
      <div class="container-nav">
        <ul class="login-link">
          <a href="/dashboard">
            <li>Dashboard</li>
          </a>
          <a href="/checkInOut"><li>Check-in out</li></a>
          <li>Fees payment</li>
          <a href="/mess">
            <li>Mess menu</li>
          </a>
          <a href="/complaints">
            <li>Complaint</li>
          </a>
          <a href="/logout">
            <li>Log out</li>
          </a>
        </ul>
      </div>

      <div class="container-form">
        <div class="container-form-inner">
          <form action="/checkInOut" method="POST">
            <h3 class="apply">APPLY FOR GATE PASS:</h3>
            <div class="undermain">
              <div class="sidediv">
                <label for="username">Library ID :</label>
                <input type="text" name="libid" id="libid" required />
              </div>
            </div>
            <div class="undermain">
              <div class="sidediv">
                
                <label for="stype">Select Type:</label>
                <input type="text" name="stype" id="stype" required />
              </div>
              <div class="sidediv">
                <label for="reason">Reason:</label>
                <input type="text" name="reason" id="reason" required />
              </div>
            </div>

            <div class="undermain">
              <div class="sidediv">
                <label for="startdate">Start-date:</label>
                <input type="date" name="startdate" id="startdate" required />
              </div>
              <div class="sidediv">
                <label for="enddate">End-date:</label>
                <input type="date" name="enddate" id="enddate" required />
              </div>
            </div>
            <div class="undermain">
              <div class="sidediv">
                <label for="intime">In-time:</label>
                <input type="time" name="intime" id="intime" required />
              </div>
              <div class="sidediv">
                <label for="outtime">Out-time:</label>
                <input type="time" name="outtime" id="outtime" required />
              </div>
            </div>
            <div class="submit">
              <button class="submit-btn" type="submit">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
