<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To CV Raman</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

  
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
    />
  </head>
  <body>
    <div class="header">
        <a href="/"><h2 class="hostel-title">Welcome To CV RAMAN</h2></a>
      </div>
      
      <div class="container">
        <div class="container-nav">
          <ul class="login-link">
            <li>
              <i class="bx bx-user-plus"></i
              ><a href="/register">Register as student</a>
            </li>
            <!-- <li>
              <i class="bx bx-group"></i><a href="/login">Login as student</a>
            </li> -->
            <li><i class="bx bxs-user"></i><a href="/adminLogin">Login as admin</a></li>
          </ul>
        </div>
        <div class="container-form">
          <div class="student-login-form login-form">
            <div class="login-img">
              <img src="{% static 'img/login.jpg' %}" alt="" />
            </div>
            <div class="form-data">
              <h3>Student Login</h3>
              <form action="{% url 'studentLogin' %}" method="post">
               {% csrf_token  %}
      
                <input
                  class="input-name"
                  type="email"
                  name="email"
                  placeholder="&#xf0e0; Enter Email"
                  required
                  autocomplete="off"
                  style="font-family: Arial, 'Font Awesome 5 Free'"
                />
      
                <input
                  class="input-name"
                  type="password"
                  name="password"
                  placeholder="&#xF084; Enter password"
                  autocomplete="off"
                  style="font-family: Arial, 'Font Awesome 5 Free'"
                />
      
                <button type="submit" class="submit-btn">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>
  </html>